<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- Other keys... -->

        <key>CFBundleIcons</key>
        <dict>
            <key>CFBundleAlternateIcons</key>
            <dict>
                <key>AppIconLinear</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>AppIconLinear</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <true/>
                </dict>
                <key>AppIconSteddy</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>AppIconSteddy</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <true/>
                </dict>
            </dict>
            <key>CFBundlePrimaryIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon</string> <!-- Default icon -->
                </array>
            </dict>
        </dict>

        </dict>
        
        <!-- Other keys... -->
</plist>
